{% extends 'base.html.twig' %}

{% block header_title %}
    <h1>Bienvenue sur Todo List, l'application vous permettant de gérer l'ensemble de vos tâches sans effort !</h1>
{% endblock %}

{% block body %}

    <div class="row">
        <p class="text-danger">C'est bien d'essayer, mais cet espace est vraiment réservé aux admins, désolée.</p>
    </div>
{% endblock %}
